
   <!-- <div class="col-md-10">


<button id="button_add" class="btn btn-default" ng-click="$ctrl.rand($ctrl.test)">Add</button>
   
    
    <input type="text" ng-model="$ctrl.test">
        
    <h3>{{$ctrl.result}}</h3>
    
   

    </div> -->
<!-- this can be used as a layout for the sub page -->
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">String Input Generator</li>
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <div class=" border-0 rounded-lg mt-6">
                <h3>Generation Parameters</h3>
                <div class="justify-content-center">
                    <form>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group"><label class="small mb-1" for="">String  Length</label><input on-click="" class="form-control py-4" id="strlen" ng-model="$ctrl.strlen" type="text" placeholder="How long should the string be (10 by default)" /></div>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="">String Options</label><br>
                                    <div class="form-group ">
                                        <select class="custom-select d-block w-100 " ng-model="$ctrl.selectedName" ng-change="$ctrl.setactive()" ng-options="item.name for item in $ctrl.options track by item.id" >
                                            <option value="" disabled >Pick a Size...</option>
                                            </select>
                                        
                                    </select>
                                      
                                    </div>
                                    
                            </div>
                            
                             <div class="col-md-6">
                                <div class="form-group">
                                    
                                    <label class="small mb-1" for="">Number of results</label>
                                    <input class="form-control py-4" id="" type="text" placeholder="Number of results " ng-disabled="!$ctrl.disChar" ng-model="$ctrl.numOfRes" />
                                 </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="">Regular Expression</label>
                                    <input on-click="" class="form-control py-4" id="strlen" type="text" placeholder="Regular Expression ..."ng-disabled="$ctrl.disChar" ng-model ="$ctrl.template"/>
                                    
                                </div>
                            </div>
                            <button class="btn btn-success mt-4 mb-1 " ng-click="$ctrl.randomize()">Randomize</button>
                           
                        </div>
                        
                    </form>
                </div>

            </div>
        </div>
        
        <div class="col-lg-12">
         <div class="justify-content-center">
                    <form>
                        <textarea class="form-control form-group mt-4 mb-1 col-md-12 " placeholder="Output..." style="background-color: beige;" rows="15" ng-model="$ctrl.result"></textarea>
                    </form>
                </div>
        </div>
    </div>
           
     
          
  
    
    
    
    


