<!-- this can be used as a layout for the sub page -->
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">String Input Generator</li>
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <div class=" border-0 rounded-lg mt-6">
                <h3>Generation Parameters</h3>
                <div class="justify-content-center">
                    <form class="needs-validation">
                        <div class="form-row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1" ng-model="$ctrl.valueCheckRandLen" >
                                        <label class="custom-control-label" for="customCheck1">Random string Length (maximum 20)</label>

                                        
                                      </div>
                                      <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2" ng-model="$ctrl.valueCheckRandRes">
                                        <label class="custom-control-label" for="customCheck2">Random number of results (maximum 100.000)</label>
                                      </div>
                            </div>
                              </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group"><label class="small mb-1" for="">String  Length </label><span class="badge badge-danger" ng-if="$ctrl.strlen>20"> Maximum 20</span>
                                    <input on-click="" class="form-control py-4" id="strlen" ng-model="$ctrl.strlen" type="text" placeholder="How long should the string be (10 by default)" ng-disabled="$ctrl.valueCheckRandLen || !$ctrl.disChar"/></div>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="">Number of results <span class="badge badge-danger" ng-if="$ctrl.numOfRes>100000">Maximum 100.000</span></label>
                                <input class="form-control py-4" id="" type="text" placeholder="Number of results " ng-disabled="$ctrl.valueCheckRandRes || !$ctrl.disChar" ng-disabled="!$ctrl.disChar" ng-model="$ctrl.numOfRes" />
                                
                            </div>
                            
                             <div class="col-md-6">
                                <label class="small mb-1" for="">String Options</label><br>
                                <div class="form-group ">
                                    <select class="custom-select d-block w-100 " ng-model="$ctrl.selectedName" ng-change="$ctrl.setactive()" ng-options="item.name for item in $ctrl.options track by item.id" >
                                        <option value="" disabled >Pick a Size...</option>
                                        </select>
                                </select>
                                  
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="">Regular Expression <span ng-click="$ctrl.alertt()"><i class="fa fa-question-circle" aria-hidden="true"></i> </span></label>
                                    <input on-click="" class="form-control py-4" id="strlen" type="text" placeholder="Regular Expression ..."ng-disabled="$ctrl.disChar" ng-model ="$ctrl.template"/>
                                    
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                            <button class="btn btn-success mt-4 mb-1 " ng-click="$ctrl.randomize()" type="submit" ng-disabled="$ctrl.numOfRes>100000 || $ctrl.strlen>20">Randomize</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
        <form>
        <textarea id="foo" class="form-control form-group mt-4 mb-1 col-md-12 " placeholder="Output..." style="background-color: beige;" rows="15" ng-model="$ctrl.result"></textarea>
        </form>
        <button class="btn btn-primary mt-4 mb-1 " ng-disabled="$ctrl.enableDown" ng-click="$ctrl.download()"><a ng-href="{{ $ctrl.fileUrl }}" download="file.txt" style="color:white">download as .txt file</a></button>
        <button class="btn btn-info mt-4 mb-1" ng-click="$ctrl.test()" ngclipboard data-clipboard-target="#foo" data-toggle="tooltip" data-placement="top" title="Copy to Clipboard"><i class="fas fa-clipboard"></i>&nbsp;
        <small class="" ng-if="$ctrl.copy">Copy to ClipBoard</small><small ng-if="$ctrl.copied">Copied</small></button>
        </div>
        </div>
    </div>
           
     
          
  
    
    
    
    


