
<!-- this can be used as a layout for the sub page -->
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">CSV Input Generator</li>
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <div class=" border-0 rounded-lg mt-6">
                <h3>Generation Parameters</h3>
                <div class="justify-content-center">
                    <form>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="">CSV  Depth</label>
                                    <input ng-model="$ctrl.rows" class="form-control py-4" id="depth" type="text" placeholder="Number of rows to generate" /></div>
                       
                                <div class="form-group">
                                    <label class="small mb-1" for="">CSV columns</label>
                                    <input ng-model="$ctrl.cols" class="form-control py-4" id="" type="text" placeholder="number of columns" />
                                    <label class="small mr-5 " for="">CSV Delimiter</label>
                                    
                                    
                                    <input class="form-control py-4 col-md-6" id="" type="text" placeholder="Pick a delimiter" ng-model ="$ctrl.delimiter" />  
                                 </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="">String Length (or specify the range min,max)</label><input class="form-control py-4" id="" type="text" ng-model="$ctrl.strlen" placeholder="How long should the random string be?" />
                                   <div class="form-group"></div> <label class="small mb-1" for="">Characters to use</label><textarea class="form-control form-group col-md-12" rows="5" placeholder="Alphabet ..." ng-model="$ctrl.alphabet"></textarea>
                                </div>
                            </div>
                        
                        <div class="col-md-6 col-lg-6">
                            <button class="btn btn-success mb-1 " ng-click="$ctrl.randomize()" type="submit" ng-disabled="$ctrl.numOfRes>10000 || $ctrl.strlen>20">Randomize</button>
                        </div>
                    </div>
                    </form>
                </div>

            </div>
        </div>
       
        
        <div class="col-lg-12">
         <div class="justify-content-center">
                    <form>
                        <textarea style="background-color: beige;" rows="15" class="form-control form-group col-md-12 form-group mt-4 mb-0 col-md-12" placeholder="Output..." ng-model="$ctrl.result"></textarea>
                    </form>
                </div>
        <button class="btn btn-primary mt-4 mb-1 " ng-disabled="$ctrl.enableDown" ng-click="$ctrl.download()"><a ng-href="{{ $ctrl.fileUrl }}" download="file.csv" style="color:white">download as .csv file</a></button>
    </div>
    </div>
           
     
          
  
    
    
    
    


